<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

  <bean name="namelist" class="TwoDI.StudentTwo">
      <property name="nameList">
          <list>
              <value>Pratik1</value>
              <value>Pratik2</value>
              <value>Pratik3</value>
          </list>
      </property>

      <property name="countrySet">
          <set>
              <value>India</value>
              <value>US</value>
              <value>UK</value>
          </set>
      </property>

      <property name="address">
          <map>
          <entry key="1" value="pune"></entry>
              <entry key="2" value="mumbai"></entry>
              <entry key="3" value="mumbai"></entry>
              <entry key="4" value-ref="namelist"/>
          </map>
      </property>
      
  </bean>

</beans>
